.object-tools {
  position: relative;
  right: 10px;
  z-index: 1;
  top:0px;
  float: none;
}
.object-tools li span {
    display: block;
    padding: 3px 12px;
    background: #fae62d;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000;
    border-radius: 15px;
}

.free-button button {
  background-color: #8d8d8d;
}

.free-button button:hover {
  background-color: #565656;
}

.plus-button {
    padding: 10px;
}

.plus-button button {
  background-color: #228B22;
}

.plus-button button:hover  {
  background-color: #006400;
}

.plus-button button:active  {
  background-color: #006400;
}

.pro-button button:visited {
  background-color: #B22222;
}

.pro-button button{
  background-color: #B22222;
}

.pro-button button:hover  {
  background-color: #8B0000;
}

.pro-button button:active  {
  background-color: #8B0000;
}

.toolbar-assign-release-row {
  margin-bottom: 30px;
}

.toolbar-assign-release-row li {
  float: right;
}

.release-assignment-buttons {
  float: right;
  padding-top: 15px;
}

.toolbar-release-options-container{
  padding-left: 40%;
  position: absolute;
  padding-top: 15px;
}
.toolbar-assign-release-option{
  display: inline-block;
  padding-right: 20px;
  font-size: 11px;
}

#changelist{
  width: 100%;
}

button {
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
  height: 26px;
}
