<div class="rounded-2 bg-white border p-2">
  <h5 class="pt-2 ps-2"><i class="bi bi-people-fill me-2"></i>Release Artist Roles</h5>

  <div class="container form-container" id="artist-roles-container">
    {{ release_artist_roles_formset.management_form }}
    {% for form in release_artist_roles_formset %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-warning">
            <p><b>{{ field.name|title }}:</b> {{ error }}</p>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    {% for error in release_artist_roles_formset.non_field_errors %}
      <div class="alert alert-warning">
        <p>{{ error }}</p>
      </div>
    {% endfor %}
    {% for release_artist_role_form in release_artist_roles_formset %}
      <div class="row">
        {% if forloop.first %}
          <div class="col-1 release-artist-sequence">
            <label>Seq:</label>
          </div>
          <div class="col-5">
            {{ release_artist_role_form.artist.label_tag }}
          </div>
          <div class="col-3 release-artist-role">
            {{ release_artist_role_form.role.label_tag }}
          </div>
          <div class="col-2 release-artist-main">
            <label>Main Artist:</label>
          </div>
          <div class="col-1">
            <label>Delete:</label>
          </div>
        {% endif %}
      </div>
      <div class="row artist-role-form">
        <div class="col-1 release-artist-sequence pb-1 pt-2">
          {{ release_artist_role_form.artist_sequence }}
        </div>
        <div class="col-5 release-artist-name pb-1 pt-2">
          {{ release_artist_role_form.artist }}
        </div>
        <div class="col-3 release-artist-role pb-1 pt-2">
          {{ release_artist_role_form.role }}
        </div>
        <div class="col-2 release-artist-main pb-1 pt-2">
          {{ release_artist_role_form.main_primary_artist }}
        </div>
        <div class="col-1 pb-1 pt-2">
          {% if forloop.first %}
          -
          {% else %}
            {{release_artist_role_form.DELETE}}
          {% endif %}
        </div>
        {% for hidden_field in release_artist_role_form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-12 mt-0">
        <button class="btn btn-outline-secondary add-role-button" type="button" onclick="showArtistRoleForm('artist-roles-container')"><i class="bi bi-plus"></i></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // On load automatically hide all extra artist role forms
  hideExtraArtistRoleForms("artist-roles-container");
</script>
