{% for warning in analysis_results.amuse_watchlist_warnings %}
  {% if warning.show_warning %}
    <li class="list-group-item"><b class="warning-type">Amuse Watchlist</b>
      match for artist <b> {{ warning.watchlist_artist_name }}</b> (<i>{{ warning.watchlist_artist_monthly_listeners}} monthly listeners</i>)
      {% if warning.watchlist_artist_uri %}
        <a href="{{ warning.watchlist_artist_uri|generate_spotify_url_from_uri }}" target="_blank"><i class="bi bi-spotify"></i></a>
      {% endif %}
      {% if 'track_id' in warning %}
        (song {{ songs|get_song_sequence:warning.track_id}})
        <a href="#{{ warning.track_id }}" class="bi bi-box-arrow-up-right"></a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
