{% extends 'website/base.html' %}

{% block body_class %}about{% endblock %}
{% block about_menu %}active{% endblock %}

{% block header-section %}
	<h1>We're <span>Amuse.</span></h1>
{% endblock %}

{% block main-section %}
<div>
	<h5>Amuse is our answer to a simple question; What would a record company look like if it was created today?</h5>
</div>
<div>
    <h5>Our Service</h5>
    We have developed a mobile service that we think is easy and engaging to use. We have also established a label with super transparent and fair terms for the artist that enables us to work together to build long and successful artist careers.
</div>

<div class="yellow">
	<h2>We help artists make a living<br>doing what they love.</h2>
</div>

<div>
	<h5>The Amuse model is simple</h5>
	We provide free music distribution to independent artists around the world. After we have made sure the music is available to listeners and fans around the world we use data to identify potential hit tracks and talented artists that we can help grow.
</div>

<div>
    <h5>Artist friendly</h5>
    Our service is easy to use and it’s mobile.<br>
    Artists can cancel distribution any time.<br>
    We give distributed artists 100% of their royalties.<br>
    We don’t charge for distribution.
</div>

<div>
	<h5>Signed to our label</h5>
    When we sign artists we do license deals which means that artists still own their work and after our contract period is over artists are free to do what they want with their music.
</div>

<div>
	<h5>Truly digital</h5>
	The world of music consumption is digital so we created a mobile music distribution app that give our artists total access to their stats and revenues from the palms of their hands.
</div>

<div>
    <hr>
</div>

<div>
	<h5>The team</h5>
	We are a group of people with backgrounds from both the music and tech industry.
</div>

<div>
    <h5>Diego Farias</h5>
    <h6>CEO</h6>
    Diego was previously head of digital sales and marketing for Warner Music Sweden and also has a background in numerous Swedish tech start ups such as Stardoll and Tradera/eBay. Diego started the work with Amuse and handpicked the rest of the founders team. Most of them had been either co-workers or competitors in the past.
</div>

<div>
    <h5>Andreas Ahlénius</h5>
    <h6>Head of Marketing</h6>
    Before co founding Amuse Andreas was the Commercial Director for Universal Music Group in Sweden. Andreas has been working with streaming services and digital music since 2011 and has love affairs with streaming numbers, hamburgers and Air Jordans.
</div>

<div>
    <h5>Christian Wilsson</h5>
    <h6>Head of Design & UX</h6>
    Christian is a Swedish start up veteran who left the roll as head of design at Spotify before co-founding Amuse. He has also been involved in internet companies such as Spray, Stardoll and already mentioned Spotify. He has the biggest shoe size at any record company in the world, US size 13.
</div>

<div>
    <h5>Guy Parry</h5>
    <h6>Head of Product</h6>
    Every company needs a really smart guy. Before co-founding Amuse Guy spent time in the financial industry at companies such as Deutsche Bank and HSBC. He is as far as we know currently the only physicist working for a record label.
</div>

<div>
    <h5>Jimmy Brodd</h5>
    <h6>Head of Technology</h6>
    Jimmy is the person make all the products come to life. He has a past as a software engineer at Stardoll where he worked with a large part of what is now the Amuse team. Jimmy has built and coded everything that we now think of as our service and is also a part of the founders team.
</div>
{% endblock %}
