{% extends 'website/base.html' %}

{% block body_class %}contact{% endblock %}
{% block contact_menu %}active{% endblock %}

{% block header-section %}
	<h1>We’d love to <span>hear</span> from you.</h1>
{% endblock %}

{% block main-section %}
<form method="post">
	<h4>How can we help you?</h4>
	<p style="padding:10px 0 20px 0;font-family:avenir-next-regular;font-size:24px">If you have a question please send us an email.</p>
    <a class="btn yellow" style="min-width:320px;margin-bottom:100px;" href="mailto:support@amuse.io">support@amuse.io</a>

	<h5>Looking for product support?</h5>
	<a href="https://support.amuse.io/" class="btn border">help center</a>
</form>
{% endblock %}