{% extends 'website/base.html' %}

{% block body_class %}howdoesitwork{% endblock %}
{% block howdoesitwork_menu %}active{% endblock %}

{% block header-section %}
	<h1>It’s super simple.</h1>
	<h1>Like crazy simple.</h1>
{% endblock %}

{% block main-section %}
<ul>
	<li>
		<div>
			<h4>Sign up couldn't be easier</h4>
			Download the app from the Apple App Store or Google Play Store. Login with Facebook, Google Account or your email.
		</div>
	</li>

	<li>
		<div>
			<h4>Upload and distribute your music</h4>
			It turns out an app is the perfect way to upload a track or an album to hundreds of music services worldwide. We collect the songs and cover art from cloud services like dropbox and google drive but the rest of the information is entered by you. It’s a very easy process and usually takes just a minute per track.
		</div>
	</li>

	<li>
		<div>
			<h4>How's it going?</h4>
			The answer to that question and many more can be found in the <b>activity</b> section of the app.
			You will find all your royalties in the <b>money</b> section, and when you have earned at least $10 you can withdraw your royalties using PayPal.
		</div>
	</li>

</ul>
{% endblock %}
