{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block submit_buttons_bottom %}
    {{ block.super }}

  {% if related_songs %}
    <style>
      td, th, table {border: 1px solid #e1e1e1; vertical-align: middle;}
      ul {margin-top:0px; margin-bottom: 0px; padding-inline-start: 20px;}
      .version-label {display:inline; color: #999; font-size:11px;}
      .monetize::before {content:"🔴 "}
    </style>

    <div style="float: left;">
      <h3 style="font-weight: normal;"> Songs matching this ISRC: </h3>
    </div>

    <table style="width: 100%;">
      <tr>
        <th>Release</th>
        <th>Song Title</th>
        <th>Artist(s)</th>
        <th>Release Status</th>
        <th>Content ID Status</th>
      </tr>

      {% for song in related_songs %}
      <tr>
        <td>
          <a href="{% url 'admin:contenttollgate_genericrelease_view' song.release.pk %}"> {{ song.release.name }}</a>
        </td>
        <td>
          {{ song.name }}
          <br>
          <label class="version-label">(version: {{ song.version }}, origin: {{ song.get_origin_display }})</label>
        </td>
        <td>
          <ul class="comma-list">
          {% for role in song.songartistrole_set.all %}
            <li>
              <a href="{% url 'admin:users_artistv2_change' role.artist.pk %}">
                {{ role.artist.name }}
              </a>
              <label class="version-label"> ({{ role.get_role_display }})</label>
            </li>
          {%  endfor %}
          </ul>
        </td>
        <td>
          {{ song.release.get_status_display }}
        </td>
        <td class="{{ song.get_youtube_content_id_display }}">
          {{ song.get_youtube_content_id_display }}
        </td>
      </tr>
      {% endfor %}

    </table>

  {% endif %}

{% endblock %}
