.user-events {

}

.user-events table {
  table-layout: fixed;
  width: 50%;
}

.user-events thead tr th:first-child,
.user-events tbody tr td:first-child {
  width: 155px;
  min-width: 155px;
  max-width: 155px;
  word-break: break-all;
}
