{% if release.has_invalid_artist_roles %}
<div class="alert alert-danger">Primary/Featured cannot share same artist ID on
  track. Remove duplicate artist/s from tracks before delivery!</div>
{% endif %}

{% if release.has_locked_splits %}
<div class="alert alert-danger">
  This release has tracks that are in active FFWD deals and splits are locked.
  Do not take down this release without approval from your teamlead!
</div>
{% endif %}

{% if release.user.has_locked_splits %}
<div class="alert alert-danger">
  This user is in an active ffwd agreement with another release. do not take down this release without approval from your team lead.
</div>
{% endif %}

{% if release.has_licensed_tracks %}
<div class="alert alert-danger">
  This release has licensed tracks. Do not take down this release without approval from your teamlead!
</div>
{% endif %}

{% if not has_valid_status_for_delivery %}
<div class="alert alert-danger">
  This release does not have a status that is valid for delivery.
</div>
{% endif %}

{% if not has_valid_cover_art_checksum %}
<div class="alert alert-danger">
  The cover art checksum is invalid.
  <a
    href="{% url 'admin:releases_coverart_change' release.cover_art.id %}"
    target="_blank"
  >
    Regenerate the checksum here
  </a>
</div>
{% endif %}

{% if not has_valid_songs_checksum %}
<div class="alert alert-danger">
  Song checksums are invalid.
  {% for song_id in invalid_songs %}
  <a
    href="{% url 'admin:releases_song_change' song_id %}"
    target="_blank"
  >
    Regenerate the checksum for song {{ song_id }} here
  </a>
  <br>
  {% endfor %}
</div>
{% endif %}

{% if fuga_status == "live" and fuga_stores %}
  <div class="alert alert-warning">
  This release has been delivered with Fuga and may need to be handled manually.
  Do not use the "Deliver All" button without knowing exactly what you're doing.
  </div>
{% elif fuga_status == "under_migration" %}
  <div class="alert alert-danger">
  This release is under Fuga migration
  </div>
{% elif fuga_status == "migrated" %}
  <div class="alert alert-primary">
  This release has been migrated from Fuga in the past
  </div>
{% elif fuga_status == "deleted" %}
  <div class="alert alert-warning">
  This release has been deleted from Fuga in the past without redelivery
  </div>
{% endif %}
